@CHARSET "UTF-8";

input#inputName {
    height: 30px;
    margin-left: 20%;
}
div#zxMain {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 50px;
    margin-top: 50px;
}
div#buttonZX {
    text-align: right;
}
div#addFail {
  width: 30%;
  left: 55%;
  /* right: 35%; */
}
